body {
    font-family: "Verdana", Sans-serif, Roboto, Helvetica, Arial, serif;
}

h2 {
    color: #7d97ad;
    font-size: 80%;
    font-weight: 200;
}


.dark-grey{
    color:#2d3c49;
}

.large{
    font-size: 400%;
    font-weight: lighter;
}

.small{
    font-size: 150%;
    font-weight: lighter;
}

.grey{
    color: #7d97ad;
}

.right{
    position:absolute;
    right: 0px;
}

.left {
    
    left: 0px;
    width: 300px;
}
.inline{
    display: inline;
}

.header-logo{
    width: 100px;
    height: 100px;
    
    padding-top: 15px;
}

.center_img {
    display: block;
    margin: auto;
}

.clear-float {
    clear: both;
}

.text-logo {
    height: 50px;
    margin-right: 5px;
    float: left;
}

.image-size{
    width: 60%;
    max-width: 100%;
    height: auto;
}

#header {
    color:#2d3c49;
    position: relative;
    left: 10%;
    width: 80%;
    margin-top: 10px auto;
}

#first-section {
    color:#2d3c49;
    left: 10%;
    width: 80%;
    position: relative;
}

#second-section {
    color:#2d3c49;
    left: 10%;
    width: 80%;
    position: relative;
}
